* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
}

aside {
  width: 8rem;
  height: 100%;
  padding: 1rem;
  border-right: gray 2px solid;
  background-color: rgb(20, 21, 33);
  color: white;
}

aside nav a{
  display: block;
  margin-bottom: .5rem;
  color: white;
}

main {
  flex-grow: 1;
  padding-left: 1rem;
}